* {
  box-sizing: border-box;
  background: black;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
}

.title {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1vh;
  text-align: center;
}

.intro {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  padding-top: 1vh;
  width: 80vw;
}

.author {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  padding-top: 10vh;
}

.start {
  display: table;
  clear: both;
  float: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  width: 15vw;
  text-align: center;
  font-size: 24px;
  border: 0.5px solid white;

}

.start:hover{
  transform: scale(1.15);
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}

.flex-child:first-child {
    margin-right: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}
