* {
  display: flex;
  /* margin: 0 auto; */
  background: black;
}

div, iframe {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0px;
  margin: 0px;
}

iframe {
    display: block;
    border-style: none;
    }
