* {
  display: block;
  /* margin: 0 auto; */
  background: black;
}

div {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0px;
  margin: 0px;
}

iframe {
    border-style: none;
    }
