* {

  /* margin: 0 auto; */
  background: black;
}

iframe{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  width: 90vw;
  height: 85vh;
  padding: 0px;
  margin: 0px;


}
